body{
    text-align: center;
    margin: auto;
    font-family: "Merienda";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header{
    background-image: url(undefined.jpg);
    height: 300px;
    color: white;
    padding: 50px 20px; 
    height: 220px;
}

header h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-shadow: 4px 4px 6px #000;
    font-family: "Merienda";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}

header p{
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.btn{
    background-color: #352d9e;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    height: 273px;
    background-color: #fff;
    background: url(pngtree-black-owl-logo-png-image_6119206.png) no-repeat right bottom;
}

section div{
    border: 1px solid #dfd0d0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background-color: #e6d9d9;
    margin-top: 60px;
    margin-bottom: 60px;
}

section h2{
    font-size: 1.5rem;
    padding-bottom: 10px;
}

footer{
    background: #000000d1;
    color: #fff;
    padding: 10px;
    
}